<table class="table table-condensed">
    <thead>
        <th>Repository</th>
        <th>Description</th>
    </thead>
    <tbody>
        <td>{{repositor}}</td>
        <td>{{description}}</td>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2">There are no repositories</td>
        </tr>
    </tbody>        
</table>            