.container {
    width: 100%;
}

body {
    padding: 65px 15px 15px;    
}

form.tableFilter {
    margin-bottom: 5px;

    input {
        padding: 3px 6px;
        height: inherit;
    }
}

table.repositories {
    
    th {
        white-space:nowrap;    

        &.repository {
            width: 300px;
        }

        &.importance { 
        }

        &.description {
            min-width: 400px;
        }

        &.provider {
            width: 25px;
        }
    }

    td {
        &.provider {
            text-align: center;
        }

        &.repository {
            white-space:nowrap;
        }

        &.importance {
            text-transform:capitalize;
        }
    }

    tfoot td {
        padding: 20px 0px;
    }
}

img.avatar {
    height: 20px;
}

body.error {
    figcaption {
        font-size: 22px;
        font-weight: bold;
        text-align: center;

        em {
            color: red;
            font-style: normal;
        }
    }
}