body {
    padding: 65px 15px 15px;    
}

table.repositories {
    td.repository {
        white-space:nowrap;
    }
}

body.error {
    figcaption {
        font-size: 22px;
        font-weight: bold;
        text-align: center;

        em {
            color: red;
            font-style: normal;
        }
    }
}