<table class="table table-condensed">
    <thead>
        <th>Repository</th>
        <th>Description</th>
    </thead>
    <tbody>
        {{#each repositories}}
            <tr>
                <td><a href="{{html_url}}">{{name}}</a></td>
                <td>{{metadata.description}}</td>                
            </tr>
        {{else}}
            <tr>
                <td colspan="2">There are no repositories</td>
            </tr>
        {{/each}}        
    </tbody>
</table>            